**/.DS_Store
**/.ropeproject
**/.*.pyc
**/*.pyc
**/.-rplugin~
**/.tags
**/tags
**/node_modules
**/bower_components

**/log
**/logs
**/tmp

**/.go

**/.*/
!.ssh/
!.terminfo
!.vim
!.etc

.ssh/id_rsa
.ssh/known_hosts

**/Library
**/Applications
**/*.orig

**/.vim/

**/.env*
**/.nvimlog

**/venv
